.Homeheading{
font-family: 'Inter';

}.homeContainer{
background: linear-gradient(265.3deg, #5CEE9C 1.49%, #22FF83 44.59%, #54F49A 99.99%, #5CEE9C 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
        padding-bottom: 80px;
        

 
   
}
