.Homeheading{
font-family: 'Inter';

}.homeContainer{
background-image: url("../../assets//group91.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
        padding-bottom: 80px;
        

 
   
}

.buttontop:hover{
    background-color:#0ec429;
    color: rgb(255, 255, 255);

}
.buttontop{
    transition: 0.3s ease;
}